*{
font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: #24607f;
text-align: center;
padding: 0;
margin: 0;
}

#container{
   margin: 0 auto; 
   width: 850px;
}

#menu{
    background-color: #FFF;
    text-align: center;
}

#menu ul{
margin: 0;
padding: 0;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 10px;
    margin-left: -25px;
}

#menu ul li a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 40px 10px;
    text-decoration: none;
}
#menu ul li a:hover{
background: #FF5105;
color: #FFF;
}

.logo, .logo:hover{
    background: #FF5105 url(./img/logoPizza.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 71px !important;
    padding-right: 71px !important;
}

#slider{
    background: url(./img/pizza1.png);
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 15px;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

h2{
    color:#a3e0ff;
    font-size: 28px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}

.conteudo{
    background-color: #FFF;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}

.conteudo p{
    font-size: 14px;
    padding:40px;
}

#formulario{
    background-color: #d2d2d2;
    margin-top: -20px;
    padding: 40px;
    box-shadow: inset 0px 1px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 6px rgba(0,0,0,0.5);
    border-radius: 5px;
}

#formulario form {
    font-size:14px;
    margin: 0 auto;
    width: 400px;
}

